* {
    font-family: 'Roboto', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #03045e;
}
body {
    margin: 0;
    padding: 0;
    background-color: seashell;

}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

input {
    justify-self: flex-end;
    font-size: 14px;
    height: 24px;
    background-color: whitesmoke;
    outline: blue;
    border: blue;
    padding: 3px 6px;
    border-radius: 3px;
}

button {
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0 0 20px #caf0f8;
}

.card-body {
    background-color: blue;
}

@media screen and (max-width:768px){
    .content {
        background-color: pink;
    }
}